<?xml version="1.0" encoding="utf-8"?>  
<RunSettings>  
  <!-- Configurations that affect the Test Framework -->  
  <RunConfiguration>  
   
    <!-- Path relative to solution directory -->  
    <ResultsDirectory>.\TestResults</ResultsDirectory>  
  
    <!-- [x86] | x64    
      - You can also change it from menu Test, Test Settings, Default Processor Architecture -->  
    <TargetPlatform>x86</TargetPlatform>  
  
    <!-- Framework35 | [Framework40] | Framework45 -->  
    <TargetFrameworkVersion>Framework40</TargetFrameworkVersion>  
  
    <!-- Path to Test Adapters -->  
    <TestAdaptersPaths>%SystemDrive%\Temp\foo;%SystemDrive%\Temp\bar</TestAdaptersPaths>  
  </RunConfiguration>  
  
  <!-- Configurations for data collectors -->  
  <DataCollectionRunSettings>  
    <DataCollectors>  
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">  
        <Configuration>  
          <CodeCoverage>  
            <ModulePaths>  
              <Exclude>  
                <ModulePath>%UserProfile%\Source\Repos\test-automation\AcmUITest\bin\Debug\AcmUITest.dll</ModulePath>  
              </Exclude>  
            </ModulePaths>  
  
            <!-- We recommend you do not change the following values: -->  
            <UseVerifiableInstrumentation>True</UseVerifiableInstrumentation>  
            <AllowLowIntegrityProcesses>True</AllowLowIntegrityProcesses>  
            <CollectFromChildProcesses>True</CollectFromChildProcesses>  
            <CollectAspDotNet>False</CollectAspDotNet>  
  
          </CodeCoverage>  
        </Configuration>  
      </DataCollector>  
  
    </DataCollectors>  
  </DataCollectionRunSettings>  
  
  <!-- Parameters used by tests at runtime -->  
  <TestRunParameters>  
     <Parameter name="LOLAUrl" value="http://ql1lolabetafe1/cgi-bin/beta/admin_login" />
     <Parameter name="BankerUserName" value="QABANKER1" />
	 <Parameter name="BankerPassword" value="rock123" />
	 <Parameter name="DMBUsername" value="qausrdmb1" />
	 <Parameter name="DMBPassword" value="Rock123!" />
	 <Parameter name="RVPUserName" value="qausrrvp1" />
	 <Parameter name="RVPPassword" value="rock123" />
	 <Parameter name="BankerHotReason" value="[9814] Manual Hotlist lead per Banker QATEST" />
	 <Parameter name="BankerHotReasonUnCheck" value="[9884] Removal Hotlist Lead per Banker " />
	 <Parameter name="DMBHotReason" value="[9815] Manual Hotlist lead per DMB/RVP QATEST" />
	 <Parameter name="DMBHotReasonUnCheck" value="[9885] Removal Hotlist Lead per DMB/RVP" />
	 <Parameter name="Critical8020" value="[8020] Idle Pulled Credit Penny Public" />
	 <Parameter name="PALCritical9610" value="[9610] Pre-Approval Letter Request " />
	 <Parameter name="FilterTypeYes" value="Yes" />
	 <Parameter name="FilterTypeNo" value="No" />
	 <Parameter name="LeadSearchNumber" value="5317877252" />
     <Parameter name="NotesData" value="QA" />
	 <Parameter name="APIUrl" value="https://lolabetafe/cgi-bin/lola/getLoanData.w"/>
     <Parameter name="APIContentType" value="application/json"/>
	 <Parameter name="APIMethodType" value="POST"/>
 </TestRunParameters>  
  
  <!-- Adapter Specific sections -->  
  
  <!-- MSTest adapter -->  
  
</RunSettings>  