<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="MobiusUrl" value="http://mobiusbttest/#!/loans/getloansloanNumber" />
    <add key="loanNumber" value="3291199122" />
    <add key="PanoramaUrl" value="http://panoramatest/#!/clients/getclientsgcid" />
    <add key="FreshStartUrl" value="https://freshstarttest/application/index.cshtml#/" />
    <add key="NewClientText" value="New Client" />
    <add key="FreshStartHeading" value="Fresh Start" />
    <add key="MyPipelineText" value="My Pipeline" />
    <add key="ReferralAllocationText" value="Referral Allocation" />
    <add key="ClientSummaryText" value="Client Summary" />
    <add key="LoanNumberText" value="Loan Number" />
    <add key="FirstNameText" value="First Name" />
    <add key="LastNameText" value="Last Name" />
    <add key="EmailText" value="Email" />
    <add key="PhoneText" value="Phone" />
    <add key="CurrentFICOText" value="Current FICO" />
    <add key="StateText" value="State" />
    <add key="StatusText" value="Fresh Start Status" />
    <add key="DesiredLoanProgramText" value="Desired Loan Program" />
    <add key="LoanPurposeText" value="Loan Purpose" />
    <add key="TargetFICOText" value="Target FICO" />
    <add key="ReferralText" value="Referral" />
    <add key="StrategiesText" value="Strategies" />
    <add key="DateEntrolledText" value="Date Enrolled" />
    <add key="MortgagebankerText" value="Mortgage banker" />
    <add key="LOALAMPLoanStatusText" value="LOLA/AMP Loan Status" />
    <add key="QLMSLoanText" value="QLMS Loan" />
    <add key="NotesText" value="Notes" />
    <add key="SaveText" value="Save" />
    <add key="TestString" value="TestString" />
    <add key="MaxString" value="12345678901112" />
    <add key="OptionYes" value="Yes" />
    <add key="OptionNo" value="No" />
    <add key="GlobalSearchText" value="Global Search" />
    <add key="RecordsPerPageText" value="Records Per Page" />
    <add key="SearchClientsText" value="Search Clients" />
    <add key="PipelineText" value="Pipeline Search" />
    <add key="SearchForMultipleClientsText" value="Search For Multiple Clients" />
    <add key="NewEnrollText" value="New Enroll" />
    <add key="LoanNumber" value="3291199122" />
    <add key="ClientInfoText" value="Client Info" />
    <add key="ClientOneText" value="Client 1" />
    <add key="HomePhoneText" value="Home Phone" />
    <add key="TeamMemberText" value="Team Member" />
    <add key="ClientTwoText" value="Client 2" />
    <add key="GoalsText" value="Goals" />
    <add key="CreditText" value="Credit" />
    <add key="PropertyText" value="Property" />
    <add key="AddressText" value="Address" />
    <add key="UnitText" value="Unit" />
    <add key="ZipCodeText" value="Zip code" />
    <add key="CityText" value="City" />
    <add key="StateText" value="State" />
    <add key="PropertyTypeText" value="Property Type" />
    <add key="ValueText" value="Value" />
    <add key="LoanAmountText" value="Loan Amount" />
    <add key="IncomeAssetsText" value="Income/Assets" />
    <add key="LoanForTwo" value="3396686053" />
    <add key="NotesTestData" value="This is a notes Test Data
                                    This is a notes Test Data
                                    This is a notes Test Data
                                    This is a notes Test Data
                                    This is a notes Test Data
                                    This is a notes Test Data" />

    <add key="TeamMemberLoanText" value="= Team Member Loan" />
    <add key="QLMSLoanText" value="  = QLMS Loan"/>
    <add key="ClearColumnFiltersText" value="Clear Column Filters"/>
    <add key="ExportToExcelText" value="Export Pipeline Records To Excel"/>
    <add key="MaxLengthTenText" value="maxlength=&quot;10&quot;"/>
    <add key="NgPatternText" value="ng-pattern=&quot;/^[1-9]{1}[0-9]{9}$/&quot;"/>
    <add key="DisabledText" value="disabled=&quot;disabled&quot;"/>
    <add key="RequiredText" value="required=&quot;required&quot;"/>
    <add key="NgRequiredText" value="ng-required=&quot;!(emailInfo.EmailAddress)&quot;"/>
    <add key="TextText" value="type=&quot;text&quot;"/>
    <add key="NgPatternTwoText" value="ng-pattern=&quot;/^[^\\s@]+@[^\\s@]+\\.[^\\s@]{2,}$/&quot;"/>
    <add key="MaxLengthSixteenText" value="maxlength=&quot;16&quot;"/>
    <add key="MaxLengthThreeText" value="maxlength=&quot;3&quot;"/>
    <add key="NgPatternThreeText" value="ng-pattern=&quot;/^[1-9]{1}[0-9]{2}$/&quot;"/>
    <add key="NgModelText" value="ng-model=&quot;leadInfo.CreateDate&quot;"/>
    <add key="ReadOnlyText" value="readonly=&quot;readonly&quot;"/>
    <add key="CheckAllText" value="Check All"/>
    <add key="UnCheckAllText" value="Uncheck All"/>
    <add key="AddAuthorizedUserText" value="Add authorized user"/>
    <add key="PALText" value="PAL"/>
    <add key="OptionName" value="Richard Barnes"/>
    <add key="OptionType" value="Purchase"/>
    <add key="State" value="ARIZONA"/>
    <add key="FHAText" value="FHA"/>
  </appSettings>
 </configuration>